#explications{
    display: block;
}

.imgDiapo {
    position: absolute;
    /* visibility: hidden; */
    display: none;
    margin: 20px;
}

.active{
    display: block;
}

#tuto{
    /* padding: 20pc; */
    border: solid;
    height: 670px;
    text-align: center;
}

#reservation{
display: block;
}

#map {
    display: block;
    height: 400px;
}

#form{
    display: none;
}

#displayTimer{
    visibility: hidden;
}
